#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
p.puppy-listing{
  transition: font-size 0.25s ease-in-out;
}

p.puppy-listing:hover {
  font-size: 25px;
}

.puppy-details{
  border: 1px solid blue;
  border-radius: 25%;
  width: 100%;
  padding: 5%;
  margin: 0;
}